<header class="text-white">
    <div class="container text-center">
        <h1>About Us</h1>
    </div>
</header>
<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-center">John Graham</h2>
                <br>
                <img class="mx-auto d-block" src="/assets/john.jpg">
                <p class="lead text-center">After a 10 year career in sales I decided to pursue my passion for
                    technology. I started
                    with Miles Technologies as a member of the Software Support team. During my time doing customer
                    support for our applications I wanted to dive deeper into my understanding of the technologies that
                    build the applications I was supporting. I spent several months consuming all forms of Development
                    training applications and online courses to teach myself how to program. Shortly after I
                    transitioned into a developer role and continued my learning path. I worked for several years
                    progressing to Senior and eventually a developer lead. I was more and more interested in automation
                    and efficiency which drove me towards our Engineering team. Looking for a new challenge I
                    transitioned to this team that is focused solely on automation and efficiency improvements. After a
                    year of experience within the team I assumed the director role. I was first introduced to AngularJs
                    in 2015 and have loved the framework ever since. Shortly after transitioning to Angular I knew that
                    I had found the right fit for me. Chris and I love talking about Angular and can't wait to share
                    more episodes with everyone.</p>
                <div class="text-center">
                    <a href="https://twitter.com/JohnGrahamDev">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-danger" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-center">Chris Camac</h2>
                <br>
                <img class="mx-auto d-block" src="/assets/placeholder-pic.jpg">
                <p class="lead text-center">Chris is a senior software developer at Miles Technologies working with the
                    NGIN team
                    creating templates and tooling for use by Miles dev teams. He has a passion for working with Angular
                    and creating robust tooling for his fellow devs. He also serves as the Angular go-to-guy for his
                    division.

                    Prior to working on templates, tooling, and components in Angular, Chris spent several years
                    developing a fully featured web based ERP system which used a blend of .NET and KnockoutJS. In that
                    system, he was one of the main developers for the accounting and inventory systems, including
                    integrations to financial institutions.</p>
                <div class="text-center">
                    <a href="https://twitter.com/PilgrimSecret">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>