<header class="text-white">
    <div class="container text-center">
        <h1>About Us</h1>
    </div>
</header>
<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-center">John Graham</h2>
                <br>
                <img src="/assets/placeholder-pic.jpg">
                <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled
                    so you can use it as a boilerplate or starting point for you own landing page designs! This template
                    features:</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-danger" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-center">Chris Camac</h2>
                <br>
                <img src="/assets/placeholder-pic.jpg">
                <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled
                    so you can use it as a boilerplate or starting point for you own landing page designs! This template
                    features:</p>
            </div>
        </div>
    </div>
</section>