<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" routerLink="/">
        <img src="/assets/logo.png" />
    </a>
    <a class="navbar-brand" routerLink="/">
        ng build --pod
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
        </ul>
    </div>
</nav>