<header class="text-white">
    <div *ngIf="(recentEpisodes$ | async) as recentEpisodes">
        <div class="container display-4 text-center">
            <strong>
                <a [href]="recentEpisodes[0].link" target="_blank">Episode
                    {{recentEpisodes[0]['itunes:episode']}}:
                    {{ recentEpisodes[0].title }}</a>
            </strong>
        </div>
        <div class="sub-title text-center" style="color:lightcyan;">
            <div>Published: {{ recentEpisodes[0].pubDate | date}}
                | Duration:
                {{ getDuration(recentEpisodes[0]['itunes:duration']) }}</div>
        </div>
    </div>
</header>
<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-center">Past Episodes</h2>
                <br>
                <div *ngIf="(recentEpisodes$ | async) as recentEpisodes">
                    <div *ngFor="let episode of recentEpisodes" class="card">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title"><a [href]="episode.link" target="_blank">Episode
                                        {{episode['itunes:episode']}}:
                                        {{ episode.title }}</a></h5>
                                <div class="sub-title">Published: {{ episode.pubDate | date}} | Duration:
                                    {{ getDuration(episode['itunes:duration']) }}</div>
                            </div>

                            <p class="card-text" [innerHTML]="episode.description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="text-muted text-center text-small">&copy; 2020 Ng Build --pod</footer>